.Show_Spoiler {
  width: 700px;
  min-height: 20px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(51, 0, 255);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(138, 134, 134);
  color: rgb(194, 243, 255);
  font-size: 22px;
  text-align: center;
  transition: 500ms;
  cursor: pointer;
}

.Show_Spoiler b {
  color: rgb(255, 242, 0);
}
